<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="./vendor/autoload.php"
    timeoutForSmallTests="5"
    timeoutForMediumTests="30"
    timeoutForLargeTests="300"
    verbose="true"
>
    <php>
        <env name="DATABASE_DSN" value="mysql://test-mysql"/>
   </php>
    <groups>
        <exclude>
            <group>integration</group>
        </exclude>
    </groups>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
        <logging>
            <log type="coverage-html" target="./log/report" charset="UTF-8" yui="true"
                 highlight="true" lowUpperBound="50" highLowerBound="80" />
            <log type="testdox" target="./log/testdox.html" />
        </logging>
    </filter>
</phpunit>
